# Generate Data for Searchable Enterprise Directory Application

In [51]:
# import necessary packages

import csv
import random
import json

### Set up dicts and lists to create data

In [52]:
# Lists of possible names

first_names = ["Ava", "Noah", "Jacob", "Liam", "Noah", "Oliver", "James", "Elijah", "William", "Henry", "Lucas", "Benjamin", "Theodore",
               "Olivia", "Emma", "Charlotte", "Amelia", "Sophia", "Isabella", "Mia", "Evelyn", "Luna"]

last_names = ["Downey", "Ramdial", "Lettick", "Smith", "Johnson", "Williams", "Jones", "Brown", "Garcia", "Miller", "Davis", 
              "Rodriguez", "Martinez", "Hernandez", "Wilson", "Lopez", "Anderson", "Thomas", "Moore", "Jackson"]

In [53]:
# dictionaries needed to make data have some correlation

work_location_mult = {
    "Hartford, CT" : 1.217,
    "Saint Paul, MN" : 1.135,
    "Hunt Valley, MD" : 1.117,
    "New York, NY" : 1.770
}

job_role_mult = {
    "Junior Software Engineer" : 1.2,
    "Senior Software Engineer" : 1.46,
    "Junior Data Engineer" : 1.2,
    "Senior Data Engineer" : 1.55,
    "Cloud Engineer" : 1.2,
    "HR Professional" : 1,
}

In [54]:
# constants among all rows

password = "Password123!"
manager_id = 1

### generate the data

In [55]:
# generate phone number

def gen_phone_num():
    first = str(random.randint(600,999))
    second = str(random.randint(1,888)).zfill(3)

    last = (str(random.randint(1,9998)).zfill(4))
    while last in ['1111','2222','3333','4444','5555','6666','7777','8888']:
        last = (str(random.randint(1,9998)).zfill(4))
        
    return '{}-{}-{}'.format(first,second, last)

In [56]:
def gen_salary(job_role, work_location):
    salary = 60000 * job_role_mult.get(job_role) * work_location_mult.get(work_location)
    salary = salary * random.uniform(0.95, 1.05 )# noise
    return salary

In [57]:
NUM_ROWS = 1000
data_rows = []

for x in range(NUM_ROWS + 1):
    name = "{} {}".format(random.choice(first_names), random.choice(last_names))
    employee_id = x + 10000
    phone_number = gen_phone_num()
    job_role = random.choice(list(job_role_mult.keys()))
    work_location = random.choice(list(work_location_mult.keys()))
    salary = gen_salary(job_role, work_location)

    data_row = [
        name,
        password,
        employee_id,
        phone_number,
        job_role,
        work_location,
        salary,
        manager_id
    ]

    # Add the data row to the list
    data_rows.append(data_row)

In [58]:
# Write the data to the CSV file
with open('data.csv', "w", newline="") as file:
    writer = csv.writer(file)
    writer.writerow(
        ["name", "password", "employee_id", "phone_number", "job_role", "work_location", "salary",
         "manager_id"]
    )
    writer.writerows(data_rows)

print("Data generation complete.")

Data generation complete.