# Generate Linear Regression Model to predict Salary

In [164]:
# imports

import numpy as np
import pandas as pd

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

### Preprocess the data

In [165]:
# read the data

df = pd.read_csv('data.csv')
df.head()

,name,password,employee_id,phone_number,job_role,work_location,salary,manager_id
0,Alan Schnitzer,Password123!,10000,908-472-5643,CEO,"Hartford, CT",16778800.00,10000
1,Liam Downey,Password123!,10001,681-101-2979,Cloud Engineer,"New York, NY",129641.90,10000
2,Benjamin Ramdial,Password123!,10002,640-136-0249,Junior Data Engineer,"Saint Paul, MN",80435.39,10000
3,Benjamin Wilson,Password123!,10003,867-766-3652,Cloud Engineer,"Saint Paul, MN",79423.36,10000
4,Sophia Thomas,Password123!,10004,783-665-4556,Cloud Engineer,"Hunt Valley, MD",81884.61,10000

In [166]:
df_data = df[['job_role','work_location']] # values used to make prediction
df_labels = df[['salary']] # value to predict

In [167]:
# one hot encode data to be able to run model

df_dummy = pd.get_dummies(df_data)
df_dummy.head()

,job_role_CEO,job_role_Cloud Engineer,job_role_HR Professional,job_role_Junior Data Engineer,job_role_Junior Software Engineer,job_role_Senior Data Engineer,job_role_Senior Software Engineer,"work_location_Hartford, CT","work_location_Hunt Valley, MD","work_location_New York, NY","work_location_Saint Paul, MN"
0,1,0,0,0,0,0,0,1,0,0,0
1,0,1,0,0,0,0,0,0,0,1,0
2,0,0,0,1,0,0,0,0,0,0,1
3,0,1,0,0,0,0,0,0,0,0,1
4,0,1,0,0,0,0,0,0,1,0,0

### Split data into train and test

In [168]:
X_train, X_test, y_train, y_test = train_test_split(df_dummy, df_labels, test_size=0.2)

print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(800, 11) (200, 11) (800, 1) (200, 1)

### Train Linear Regression Model

In [169]:
model = LinearRegression()

In [170]:
model.fit(X_train, y_train)
model.score(X_train, y_train)

0.9746414698333501

### Testing Linear Regression Model

In [171]:
prediction = model.score(X_test, y_test)
prediction

-1.4352762575603876e+20