# Generate Data for Searchable Enterprise Directory Application

In [12]:
# import necessary packages

import csv
import random

### Set up dicts and lists to create data

In [13]:
# Lists of possible names

first_names = ["Ava", "Noah", "Jacob", "Liam", "Noah", "Oliver", "James", "Elijah", "William", "Henry", "Lucas", "Benjamin", "Theodore",
               "Olivia", "Emma", "Charlotte", "Amelia", "Sophia", "Isabella", "Mia", "Evelyn", "Luna"]

last_names = ["Downey", "Ramdial", "Lettick", "Smith", "Johnson", "Williams", "Jones", "Brown", "Garcia", "Miller", "Davis", 
              "Rodriguez", "Martinez", "Hernandez", "Wilson", "Lopez", "Anderson", "Thomas", "Moore", "Jackson"]

In [14]:
# dictionaries needed to make data have some correlation

work_location_mult = {
    "Hartford, CT" : 1.217,
    "Saint Paul, MN" : 1.135,
    "Hunt Valley, MD" : 1.117,
    "New York, NY" : 1.670
}

job_role_mult = {
    "Junior Software Engineer" : 1.3,
    "Senior Software Engineer" : 2.12,
    "Software Engineer Manager" : 2.66,
    "Junior Data Engineer" : 1.5,
    "Senior Data Engineer" : 2.30,
    "Data Engineer Manager" : 2.60,
    "HR Representative" : 0.73,
    "HR Specialist" : 1,
    "HR Manager" : 1.66
}

job_roles_t1 = ['Software Engineer Manager', 'Data Engineer Manager', 'HR Manager']
job_roles_swe = ['Senior Software Engineer', 'Junior Software Engineer']
job_roles_de = ['Senior Data Engineer', 'Junior Data Engineer']
job_roles_hr = ['HR Specialist', 'HR Representative']

In [15]:
# constants among all rows

password = "Password123!"

### generate the data

In [16]:
# generate phone number
# code modified from https://stackoverflow.com/questions/26226801/making-random-phone-number-xxx-xxx-xxxx

def gen_phone_num():
    first = str(random.randint(600,999))
    second = str(random.randint(1,888)).zfill(3)

    last = (str(random.randint(1,9998)).zfill(4))
    while last in ['1111','2222','3333','4444','5555','6666','7777','8888']:
        last = (str(random.randint(1,9998)).zfill(4))
        
    return '{}-{}-{}'.format(first,second, last)

In [17]:
# generate salary with noise multiplier

def gen_salary(job_role, work_location):
    salary = 60000 * job_role_mult.get(job_role) * work_location_mult.get(work_location)
    salary = salary * random.uniform(0.93, 1.08 ) # noise
    return round(salary, 2)

In [18]:
NUM_ROWS = 999
data_rows = []

# make CEO employee
name = "Alan Schnitzer"
employee_id = 10000
phone_number = gen_phone_num()
job_role = "CEO"
work_location = "Hartford, CT"
salary = 16778800
manager_id = 10000

data_row = [
    name,
    password,
    employee_id,
    phone_number,
    job_role,
    work_location,
    salary,
    manager_id
]

# Add the data row to the list
data_rows.append(data_row)

for x in range(NUM_ROWS):
    name = "{} {}".format(random.choice(first_names), random.choice(last_names))
    employee_id = x + 10001
    phone_number = gen_phone_num()
    work_location = random.choice(list(work_location_mult.keys()))

    # determine manager and job role
    if (x % 20 == 0): # management roles reporting to CEO
        job_role = random.choice(job_roles_t1)
        manager_id = 10000
    elif (data_rows[x-(x%20)+1][4] == "Software Engineer Manager"): # report to swe manager
        job_role = random.choice(job_roles_swe)
        manager_id = data_rows[x-(x%20)+1][2]
    elif (data_rows[x-(x%20)+1][4] == "Data Engineer Manager"): # report to de manager
        job_role = random.choice(job_roles_de)
        manager_id = data_rows[x-(x%20)+1][2]
    elif (data_rows[x-(x%20)+1][4] == "HR Manager"): # report to hr manager
        job_role = random.choice(job_roles_hr)
        manager_id = data_rows[x-(x%20)+1][2]

    salary = gen_salary(job_role, work_location)

    data_row = [
        name,
        password,
        employee_id,
        phone_number,
        job_role,
        work_location,
        salary,
        manager_id
    ]

    # Add the data row to the list
    data_rows.append(data_row)

In [19]:
# test row outputs

print(data_rows[0])
print(data_rows[1])
print(data_rows[10])
print(data_rows[11])
print(data_rows[999])

['Alan Schnitzer', 'Password123!', 10000, '614-354-6982', 'CEO', 'Hartford, CT', 16778800, 10000]
['Noah Lettick', 'Password123!', 10001, '600-783-0166', 'HR Manager', 'New York, NY', 164488.68, 10000]
['Theodore Lopez', 'Password123!', 10010, '892-355-1298', 'HR Representative', 'Hartford, CT', 56383.13, 10001]
['Theodore Martinez', 'Password123!', 10011, '670-533-5541', 'HR Specialist', 'Hunt Valley, MD', 67902.56, 10001]
['Jacob Hernandez', 'Password123!', 10999, '625-329-6446', 'Junior Data Engineer', 'Hunt Valley, MD', 98629.6, 10981]

In [20]:
import pandas as pd
df = pd.DataFrame(data_rows)
df.head(45)

,0,1,2,3,4,5,6,7
0,Alan Schnitzer,Password123!,10000,614-354-6982,CEO,"Hartford, CT",16778800.00,10000
1,Noah Lettick,Password123!,10001,600-783-0166,HR Manager,"New York, NY",164488.68,10000
2,William Miller,Password123!,10002,837-208-8071,HR Specialist,"Hartford, CT",70017.02,10001
3,Lucas Jones,Password123!,10003,915-290-6312,HR Representative,"Hunt Valley, MD",49082.16,10001
4,Noah Brown,Password123!,10004,894-739-9359,HR Specialist,"Hunt Valley, MD",69292.50,10001
5,Mia Jones,Password123!,10005,635-397-6414,HR Specialist,"Hunt Valley, MD",63218.44,10001
6,Mia Jackson,Password123!,10006,906-168-3483,HR Representative,"Hartford, CT",54371.68,10001
7,Oliver Lettick,Password123!,10007,860-049-0559,HR Representative,"New York, NY",76177.32,10001
8,Olivia Lettick,Password123!,10008,727-455-9378,HR Representative,"New York, NY",77652.00,10001
9,William Garcia,Password123!,10009,669-195-2177,HR Representative,"New York, NY",76650.00,10001
10,Theodore Lopez,Password123!,10010,892-355-1298,HR Representative,"Hartford, CT",56383.13,10001
11,Theodore Martinez,Password123!,10011,670-533-5541,HR Specialist,"Hunt Valley, MD",67902.56,10001
12,Mia Davis,Password123!,10012,792-819-2999,HR Representative,"Hunt Valley, MD",51442.14,10001
13,Oliver Thomas,Password123!,10013,797-114-5014,HR Representative,"Hartford, CT",50762.99,10001
14,William Downey,Password123!,10014,875-447-5750,HR Specialist,"Hunt Valley, MD",67796.58,10001
15,Olivia Davis,Password123!,10015,621-770-8487,HR Representative,"Hartford, CT",55983.53,10001
16,Henry Brown,Password123!,10016,667-789-3722,HR Representative,"Saint Paul, MN",50902.43,10001
17,James Jackson,Password123!,10017,918-331-1645,HR Specialist,"Hartford, CT",75579.56,10001
18,Noah Brown,Password123!,10018,620-253-2468,HR Representative,"Saint Paul, MN",49778.64,10001
19,Isabella Miller,Password123!,10019,722-138-3302,HR Specialist,"Saint Paul, MN",68747.17,10001
20,Benjamin Davis,Password123!,10020,879-780-1435,HR Specialist,"Hunt Valley, MD",71853.86,10001
21,Evelyn Davis,Password123!,10021,821-159-0235,HR Manager,"Hunt Valley, MD",116440.29,10000
22,Liam Miller,Password123!,10022,757-757-7811,HR Specialist,"Hunt Valley, MD",71376.48,10021
23,Amelia Jones,Password123!,10023,833-028-1551,HR Representative,"New York, NY",76774.30,10021
24,Charlotte Jones,Password123!,10024,681-544-6040,HR Representative,"Hunt Valley, MD",48514.23,10021
25,Emma Downey,Password123!,10025,961-560-6039,HR Representative,"New York, NY",72083.27,10021
26,Charlotte Johnson,Password123!,10026,750-020-4454,HR Specialist,"Hunt Valley, MD",70289.26,10021
27,Olivia Davis,Password123!,10027,732-492-3749,HR Specialist,"Hartford, CT",70449.04,10021
28,Emma Thomas,Password123!,10028,675-692-7315,HR Representative,"Saint Paul, MN",50036.65,10021
29,Benjamin Wilson,Password123!,10029,847-493-2052,HR Specialist,"New York, NY",100086.52,10021
30,Liam Garcia,Password123!,10030,794-634-7712,HR Representative,"Hunt Valley, MD",46976.28,10021
31,James Anderson,Password123!,10031,770-672-9839,HR Specialist,"Hunt Valley, MD",63719.97,10021
32,Elijah Brown,Password123!,10032,748-557-7089,HR Specialist,"New York, NY",99610.75,10021
33,Olivia Smith,Password123!,10033,784-458-7727,HR Representative,"Saint Paul, MN",49995.43,10021
34,Oliver Thomas,Password123!,10034,856-231-8592,HR Specialist,"New York, NY",104912.35,10021
35,Emma Downey,Password123!,10035,716-551-1011,HR Representative,"Hunt Valley, MD",49360.05,10021
36,Mia Jones,Password123!,10036,984-370-7864,HR Specialist,"Hartford, CT",77988.81,10021
37,James Williams,Password123!,10037,990-319-9281,HR Representative,"Hartford, CT",51856.45,10021
38,Emma Lopez,Password123!,10038,930-761-1570,HR Specialist,"New York, NY",101392.78,10021
39,Luna Downey,Password123!,10039,743-791-0935,HR Representative,"Hartford, CT",56554.38,10021
40,Oliver Ramdial,Password123!,10040,934-752-4044,HR Specialist,"New York, NY",97419.23,10021
41,Isabella Brown,Password123!,10041,617-220-5702,Software Engineer Manager,"Hartford, CT",181943.65,10000
42,Ava Thomas,Password123!,10042,629-318-6804,Junior Software Engineer,"Saint Paul, MN",88091.30,10041
43,Liam Jones,Password123!,10043,674-418-7733,Junior Software Engineer,"Hunt Valley, MD",82567.96,10041
44,Elijah Davis,Password123!,10044,704-061-6397,Junior Software Engineer,"Saint Paul, MN",88924.84,10041

In [10]:
print(df[7].unique())

[10000 10001 10021 10041 10061 10081 10101 10121 10141 10161 10181 10201
 10221 10241 10261 10281 10301 10321 10341 10361 10381 10401 10421 10441
 10461 10481 10501 10521 10541 10561 10581 10601 10621 10641 10661 10681
 10701 10721 10741 10761 10781 10801 10821 10841 10861 10881 10901 10921
 10941 10961 10981]

In [11]:
# Write the data to the CSV file
with open('data.csv', "w", newline="") as file:
    writer = csv.writer(file)
    writer.writerow(
        ["name", "password", "employee_id", "phone_number", "job_role", "work_location", "salary",
         "manager_id"]
    )
    writer.writerows(data_rows)

print("Data generation complete.")

Data generation complete.