# Generate Data for Searchable Enterprise Directory Application

In [133]:
# import necessary packages

import csv
import random

### Set up dicts and lists to create data

In [134]:
# Lists of possible names

first_names = ["Ava", "Noah", "Jacob", "Liam", "Noah", "Oliver", "James", "Elijah", "William", "Henry", "Lucas", "Benjamin", "Theodore",
               "Olivia", "Emma", "Charlotte", "Amelia", "Sophia", "Isabella", "Mia", "Evelyn", "Luna"]

last_names = ["Downey", "Ramdial", "Lettick", "Smith", "Johnson", "Williams", "Jones", "Brown", "Garcia", "Miller", "Davis", 
              "Rodriguez", "Martinez", "Hernandez", "Wilson", "Lopez", "Anderson", "Thomas", "Moore", "Jackson"]

In [135]:
# dictionaries needed to make data have some correlation

work_location_mult = {
    "Hartford, CT" : 1.217,
    "Saint Paul, MN" : 1.135,
    "Hunt Valley, MD" : 1.117,
    "New York, NY" : 1.770
}

job_role_mult = {
    "Junior Software Engineer" : 1.2,
    "Senior Software Engineer" : 1.46,
    "Junior Data Engineer" : 1.2,
    "Senior Data Engineer" : 1.55,
    "Cloud Engineer" : 1.2,
    "HR Professional" : 1,
}

In [136]:
# constants among all rows

password = "Password123!"

### generate the data

In [137]:
# generate phone number
# code modified from https://stackoverflow.com/questions/26226801/making-random-phone-number-xxx-xxx-xxxx

def gen_phone_num():
    first = str(random.randint(600,999))
    second = str(random.randint(1,888)).zfill(3)

    last = (str(random.randint(1,9998)).zfill(4))
    while last in ['1111','2222','3333','4444','5555','6666','7777','8888']:
        last = (str(random.randint(1,9998)).zfill(4))
        
    return '{}-{}-{}'.format(first,second, last)

In [138]:
# generate salary with noise multiplier

def gen_salary(job_role, work_location):
    salary = 60000 * job_role_mult.get(job_role) * work_location_mult.get(work_location)
    salary = salary * random.uniform(0.95, 1.05 ) # noise
    return round(salary, 2)

In [139]:
# determine managers ---- THIS IS WEIRD, if time, fix later

def determine_manager(employee_id):
    if employee_id % 10 != 0:
        manager_id = employee_id - (employee_id % 10)
    elif (employee_id != 10000):
        manager_id = employee_id - 10
    else:
        manager_id = employee_id
    return manager_id

In [140]:
NUM_ROWS = 999
data_rows = []

# make CEO employee
name = "Alan Schnitzer"
employee_id = 10000
phone_number = gen_phone_num()
job_role = "CEO"
work_location = "Hartford, CT"
salary = 16778800
manager_id = 10000

data_row = [
    name,
    password,
    employee_id,
    phone_number,
    job_role,
    work_location,
    salary,
    manager_id
]

# Add the data row to the list
data_rows.append(data_row)


for x in range(NUM_ROWS):
    name = "{} {}".format(random.choice(first_names), random.choice(last_names))
    employee_id = x + 10001
    phone_number = gen_phone_num()
    job_role = random.choice(list(job_role_mult.keys()))
    work_location = random.choice(list(work_location_mult.keys()))
    salary = gen_salary(job_role, work_location)
    manager_id = determine_manager(employee_id)

    data_row = [
        name,
        password,
        employee_id,
        phone_number,
        job_role,
        work_location,
        salary,
        manager_id
    ]

    # Add the data row to the list
    data_rows.append(data_row)

In [141]:
# test row outputs

print(data_rows[0])
print(data_rows[1])
print(data_rows[10])
print(data_rows[11])
print(data_rows[999])

['Alan Schnitzer', 'Password123!', 10000, '908-472-5643', 'CEO', 'Hartford, CT', 16778800, 10000]
['Liam Downey', 'Password123!', 10001, '681-101-2979', 'Cloud Engineer', 'New York, NY', 129641.9, 10000]
['Oliver Johnson', 'Password123!', 10010, '673-245-3095', 'Cloud Engineer', 'Hartford, CT', 88079.55, 10000]
['Elijah Smith', 'Password123!', 10011, '882-516-3058', 'Senior Software Engineer', 'Hartford, CT', 107025.47, 10010]
['Luna Thomas', 'Password123!', 10999, '780-031-0236', 'Senior Data Engineer', 'Hunt Valley, MD', 101172.52, 10990]

In [142]:
# Write the data to the CSV file
with open('data.csv', "w", newline="") as file:
    writer = csv.writer(file)
    writer.writerow(
        ["name", "password", "employee_id", "phone_number", "job_role", "work_location", "salary",
         "manager_id"]
    )
    writer.writerows(data_rows)

print("Data generation complete.")

Data generation complete.